@import "vars";

body {
  background-color: $pt-dark-app-background-color;
}

.glitch{
  color:white;
  font-size:40px;
  position:relative;
  // width:400px;
  // margin:0 auto;
  display: inline-block;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:$dark-gray4;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(40)+px,9999px,random(30)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:$dark-gray4;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

//The following media queries adjust the browser zoom depending on the screen width
// @media only screen and (max-width: 3000px) {
//   body {
//     zoom: 0.9;
//   }
// }

// @media only screen and (max-width: 2000px) {
//   body {
//     zoom: 0.75;
//   }

// }

// @media only screen and (max-width: 1600px) {
//   body {
//     zoom: 0.75;
//   }
// }