@import "vars";
/*
  $light-gray1:
      - h5 border
*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  background-color: $secondary;
}
::-webkit-scrollbar
{
  width: 6px;
  background-color: $inputBG;
}
.pt-tab:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

