@import "vars";

.order-form {
  min-width: 240px;

      .radio-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .box {
          width: 45px;
          height: 30px;
          display: flex;
          margin-left: 10px;
          background: #27343d;
          text-align: center;
          padding: 6px 0;
          justify-content: center;
          cursor: pointer;
          border: 1px solid #2584c1;
          box-shadow: none;
          border-radius: 3px;
          input {
            opacity: 0;
            width: 0px;
            margin: 0px;
          }
          .pt-input-group {
            width: 0px;
          }
        }
        .active-box {
          box-shadow: 0 0 3px 2px $blue3, 0 0 0 1px $blue3, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
          border-radius: 3px;
          border: 1px solid transparent;
        }
      }
//     }
//   }
}