@import "vars";

@media only screen and (max-width: 1600px) {
  .order-history {
    ul {
      li {
        span.pair, span.side, span.amount {
          width: 12%;
        }
        span.side {
          width: 8%;
        }
        span.price, span.status {
          width: 15%;
        }
        span.time {
          width: 22%;
        }
      }
    }
  }
}