@import "../../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '../../../node_modules/rc-steps/assets/index.css';
@import '../../../node_modules/rc-steps/assets/iconfont.css';
@import "../../../node_modules/@blueprintjs/table/lib/css/table.css";
@import "reset";
@import "vars";
@import "reset";
@import "global";
@import "override";
@import "orderHistory";
@import "tokenSearcher";
@import "ohlcvChart";
@import "depthChart";

body {
  background: white;
}
.stories {
  .standard-range-slider {
    width: 100%;
  }
}