@import "vars";

.token-searcher {
  min-width: 380px;
  max-width: 700px;
  width: 100%;

  .bp3-tabs {
    height: 75%;
    .bp3-tab-panel {
      margin-top: 0px;
      height: 100%;
    }
  }

  .bp3-tab {
    font-weight: 600;
    svg {
      margin-top: 6px;
    }
  }

  ul {
    li {
      width: 100%;

      span {
        text-align: left;
        display: flex;
      }

      span.icon {
        float: initial;
      }

      span.star {
        cursor: pointer;
        min-width: 30px;
        width: 10%;
      }

      span.base {
        width: 25%;
      }
      span.name {
        width: 25%;
      }
      span.symbol {
        width: 25%;
      }
      span.change {
        width: 25%;
      }
      span.lastPrice {
        width: 25%;
      }
    }

    li.row:hover {
      cursor: pointer;
      background-color: $blue-muted;
      z-index: 1;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 10px 4px rgba(16, 22, 26, 0.1), 1px 18px 24px rgba(16, 22, 26, 0.2);
      box-shadow: inset 0 0 0 1px rgb(49, 64, 76), -1px 5px 4px rgba(16, 22, 26, 0.1), 1px 7px 24px rgba(16, 22, 26, 0.2);
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }

  .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
  }

  ul.list {
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    overflow-y: scroll;
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  li.row {
    box-shadow: inset 0px 1px 0 0 rgba(16, 22, 26, 0.15);
    padding: 3px;
    padding-left: 0px !important;
    margin-left: 0px !important;
  }

  li.heading {
    padding-left: 0px !important;
    margin-left: 0px !important;

    span {
      cursor: pointer;
      font-weight: 600;
      span {
        svg {
          color: $hoverBlue;
          margin-top: 2px;
        }
      }
    }
  }

  .loading-overlay {
    height: 88.5%;
  }
}