@import "vars";

.trading-page {
  display: inline-block;
  width: 100%;
}

.trading-page-layout {
  padding-top: 7px;
  padding-bottom: 7px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "side main";
}

.trading-page-side-panel {
  grid-area: side;
}

.trading-page-main-panel {
  grid-area: main;
}

@media only screen and (max-width: 1600px) {
  .trading-page-layout {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "side main";
  }
}

@media only screen and (max-width: 1200px) {
  .trading-page-layout {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "side main";
  }
}

@media only screen and (max-width: 500px) {
  .trading-page-layout {
    grid-template-columns: 6fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "side main";
  }
}




.trading-page-orders-and-trades-tables {
  display: grid;
  grid-gap: 7px;
  align-items: start;
  grid-template-columns: 1fr 1fr;
}


@media only screen and (max-width: 1600px) {
  .trading-page-orders-and-trades-tables {
    display: grid;
    grid-gap: 7px;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

@media only screen and (max-width: 1200px) {
  .trading-page-orders-and-trades-tables {
    display: grid;
    grid-gap: 7px;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

@media only screen and (max-width: 500px) {
  .trading-page-orders-and-trades-panel {
    display: grid;
    grid-gap: 7px;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

}

body {
  margin: 40px;
}



.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}
