@import "vars";

.trade-history {
  min-width: 500px;
  width: 2000px;
  height: 500px;

  .list-container {
    height: 100%;
  }

  .pt-card {
    padding-top: 0px;
    box-shadow: none !important;
  }

  .pt-tabs {
    height: 95%;
  }

  .pt-tab-panel {
    margin-top: 0;
    height: 88%;
  }

  .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  ul {
    li {
      padding: 2px 8px;
      font-size: 13px;
      width: 100%;
    }
    li.heading {
      margin: 5px auto 3px;
      span {
        font-weight: 600;
      }
    }

    .row:hover {
      z-index: 1;
      border-radius: 3px;
    }
  }
  ul.list {
    margin-top: 3px;
    overflow-y: scroll;
    height: 94%;
  }
  .loading-overlay {
    height: 100%;
  }
}