@import "vars";

.trade-history {
  min-width: 580px;
  width: 100%;

  .list-container {
    .list {
      max-height: 580px;
      height: 90%;
      overflow-y: scroll;
    }
  }

  .heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  ul {
    li {
      padding: 2px 8px;
      font-size: 13px;
      width: 100%;
    }
    li.heading {
      margin: 5px auto 3px;
      span {
        font-weight: 600;
      }
    }

    .row:hover {
      z-index: 1;
      border-radius: 3px;
    }
  }
}