@import "../../../node_modules/@blueprintjs/core/lib/scss/variables.scss";

$primary: #fff;
$hoverBlue: #48aff0;
$active: #48aff0;
$secondary: #31404c;
$inputBG: #27343d;
$BGHover: #5b656d;
$shadow: #2f3c46;
