/*
Error: Invalid CSS after "...6c718f76a94647d": expected "{", was ""
        on line 15 of src/styles/scss/index.scss

10: 
11: <<<<<<< HEAD
12: 
13: =======
14: >>>>>>> 550afc086392432b345e392436c718f76a94647d

Backtrace:
src/styles/scss/index.scss:15
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Error: Invalid CSS after "...6c718f76a94647d": expected "{", was ""\A         on line 15 of src/styles/scss/index.scss\A \A 10: \A 11: <<<<<<< HEAD\A 12: \A 13: =======\A 14: >>>>>>> 550afc086392432b345e392436c718f76a94647d';
}
